@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,800&display=swap');

$main-font: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


html, body, * {
    font-family: $main-font;
    font-weight: 400;
}

.alert { 
    strong {
        font-weight: 800;
    } 
}   