// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Plugins
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css');

// Variables 
@import 'variables';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
 
table {
    a {
        color: white;
        &:hover,
        &:focus,
        &:active,
        &:target {
            color: white;
            text-decoration: underline;
        }
    }
}